html {
  height: 100%;
}

body {
  margin: 0 auto;
  overflow: auto;
  background-color: rgb(250,250,250);
  min-width: 999px;
  min-height: 100%;
  background-image: url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
