.navbar-links-btn {
    display: flex;
    flex-direction: row;
    width: 198px;
    height: 47px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,1);

    .navbar-links-btn-txt {
        font-family: 'Comic Sans MS';
        color: #121212;
        font-size: 21px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
}