.menu-title {
    width: 1009px;
    width: 557;
    margin: 229px 145px;
    height: 110;
    background-color: #fff;
    color: #000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 382px;
    opacity: 0.6;

    @media screen and (max-width: 600px) {
        width: 240px;
        margin: 0px;
        font-size: 48px;
        top: 280px;
        right: 80px;
    }
}