.menu-title {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 1009px;
    height: 131px;
    /* top: -28px; */
    width: 557;
    /* padding: 34px; */
    margin: 154px 144px;
    height: 110;
    background-color: #fff;
    color: #000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    justify-content: center;
    align-self: center;
    position: absolute;
    /* top: 114px; */
    bottom: -496px;
}