.page-title {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 557;
    height: 110;
    background-color: #fff ;
    color: #000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
}