.navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 76px;
    width: 100%;
    background-color: rgba(0,0,0,1);

    .navbar-link-wrapper {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
}