.navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 76px;
    width: 100vw;
    background-color: rgba(0,0,0,1);
    position: absolute;
    font-size: large;
    color: #fff;
    top: 500px;
    
    @media screen and (max-width: 600px) {
        top: 178px;
        font-size: small;
        justify-content: center;
    }

    .nav-link-wrapper {
        display: flex;
        flex-direction: row;
        text-align: center;
        font-size: large;
        color: #fff;
        
        @media screen and (max-width: 600px) {
            font-size: 11px;
            padding: 10px;
        }
    }
}