.social-media-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    bottom: -2088px;
    position: absolute;
    height: 60px;
    width: 117%;
    background-color: black;
    // icons
    .social-media-icon {
        .icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            color: rgba(242,239,239,1);
            font-size: 54;
            height: 54;
            width: 50;
        }
    }
    // centered at bottom 
}