.social-media-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    bottom: -3061px;
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: black;

    @media screen and (max-width: 600px) {
        bottom: -5000px;
    }
    
    // @include respond-to(handhelds) { width: 100% ;}
    // @include respond-to(medium-screens) { width: 125px; }
    // @include respond-to(wide-screens) { float: none; }
    
    .social-media-icon {
        i {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            color: rgba(242,239,239,1);
            
            font-size: 54px;
            height: 54px;
            width: 50px;
        }

        
    }
    // centered at bottom 
}