.about-paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1234px;
    background-color: #e6e6e6;
    opacity: 0.69;
    border-radius: 71px;
    border-color: #000;
    border-width: inherit;
    border: solid;

    @media screen and (max-width: 600px) {
            // display: flex;
            // // justify-content: center;
            // align-items: center;
            // flex-direction: column;
            width: 371px;
            // background-color: #e6e6e6;
            // opacity: 0.69;
            // border-radius: 71px;
            // border-color: #000;
            // border-width: inherit;
            // border: solid;
            height: 459px;
    }

    .about-paragraph-header {
        height: 300px;
        color: rgba(0,0,0,1);
        justify-content: space-between;
        font-size: 30px;
        font-weight: 900;
        font-family: 'alfa-slab-one-regular';
        text-align: center;
        padding: 20px;

        @media screen and (max-width: 600px) {
            height: 374px;
            // color: black;
            // justify-content: space-between;
            font-size: 16px;
            // font-weight: 900;
            // font-family: 'alfa-slab-one-regular';
            // text-align: center;
            // padding: 20px;
        }
    }

    .about-paragraph-text {
        height: 124px;
        position: absolute;
        color: black;
        font-size: 20px;
        text-align: center;
        margin: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
        justify-content: center;
        padding: 10px;

        @media screen and (max-width: 600px) {
            height: 275px;
            // position: absolute;
            // color: black;
            font-size: 16px;
            // text-align: center;
            margin: 5px;
            // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
            // justify-content: center;
            // padding: 10px;
        }
    }    
}

.home-paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 300px;
    margin:160px;
    background-color: #e6e6e6;
    opacity: 0.69;
    border-radius: 71px;
    border-color: #000;
    border-width: 45px;
    border: solid;

    @media screen and (max-width: 600px) {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        width: 368px;
        height: 293px;
        margin: -14px;
        // background-color: #e6e6e6;
        // opacity: 0.69;
        // border-radius: 71px;
        // border-color: #000;
        // border-width: 45px;
        // border: solid;
    }

    .home-paragraph-header {
        height: 300px;
        color: rgba(0,0,0,1);
        justify-content: space-between;
        font-size: 30px;
        font-weight: 900;
        font-family: 'alfa-slab-one-regular';
        text-align: center;
        padding: 20px;

        // @media screen and (min-width: 700px) {
        //     height: 150px;
        //     font-size: 15px;
        //     padding: 10px;
        // }
    }

    .home-paragraph-text {
        // width: 768px;
        height: 205px;
        margin-top: 10px;
        position: absolute;
        color: rgba(0, 0, 0, 1);
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';

        @include phone;

        // @media screen and (min-width: 700px) {
        //     height: 102.5px;
        //     margin-top: 5px;
        //     font-size: 10px;
        // }
    }    
    
    .home-paragraph-location {
        height: 152px;
        margin-top: 20px;
        position: absolute;
        color: rgba(0, 0, 0, 1);
        font-size: 25px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';

        // @media screen and (min-width: 700px) {
        //     height: 76px;
        //     margin-top: 10px;
        //     font-size: 12.5px;
        // }
    }

    .home-paragraph-subtext {
        // width: 768px;
        height: 80px;
        margin-top: 35px;
        position: absolute;
        color: rgba(0, 0, 0, 1);
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';

        // @media screen and (min-width: 700px) {
        //     height: 40px;
        //     margin-top: 17.5px;
        //     font-size: 10px;
        // }
    }

    .home-paragraph-hours {
        // width: 768px;
        height: 40px;
        margin-top: 58px;
        position: absolute;
        color: rgba(0, 0, 0, 1);
        font-size: 21px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';

        // @media screen and (min-width: 700px) {
        //     height: 20px;
        //     margin-top: 29px;
        //     font-size: 10.5px;
        // }
    }

    .home-paragraph-phone {
        // width: 768px;
        height: 15px;
        margin-top: 100px;
        position: absolute;
        color: rgba(0, 0, 0, 1);
        font-size: 25px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';

        // @media screen and (min-width: 700px) {
        //     height: 7.5px;
        //     margin-top: 50px;
        //     font-size: 12.5px
        // }
    }
}