.paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: 25px;
    background-color: #e6e6e6;
    opacity: 0.69;
    border-radius: 71px;
    border-color: #000;
    border-width: 45px;
    border: solid;

    .paragraph-header {
        height: 300px;
        color: rgba(0,0,0,1);
        justify-content: space-between;
        font-size: 30px;
        font-weight: 900;
        font-family: 'alfa-slab-one-regular';
        text-align: center;
        padding: 20px;
    }

    .paragraph-text {
        width: 768px;
        height: 124px;
        position: absolute;
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';;
    }
}