.about-us-page-wrapper {
    display: flex;
    flex-direction: row;

    .about-us-page-content {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: calc(100vh - 84px);

        .left-column {
            display: flex;
            justify-content: center;
            align-items: left;
            flex-direction: column;
            padding: 100px;

            img {
                margin: 15px 0px;
                border-radius: 5px;
                object-fit: contain;
            }
        }

        .right-column {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 100px;
        }
    }
}