.about-us-page-content-wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);
    margin-top: 60px;


    .left-column {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        padding: 20px;

        img {
            margin: 15px 25px;
            border-radius: 5px;
            object-fit: contain;
            position: relative;
            top: 531px;
            left: 415px;

            @media screen and (max-width: 600px) {
                top: 546px;
                left: -51px; 
                right: 55px;
            }
        }
    }

    .right-column {
        display: flex;
        position: relative;
        left: -490px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        right: 535px;

        @media screen and (max-width: 600px) {
            // display: flex;
            // position: relative;
            left: -536px; 
            // justify-content: center;
            /* align-items: center; */
            // flex-direction: column;
            padding: 0px;
            right: 537px;
            height: 671px;
        }
    }
}