.home-page-content-wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);
    margin-top: 160px;

    // @include respond-to(handhelds) { width: 100% ;}
    // @include respond-to(medium-screens) { width: 125px; }
    // @include respond-to(wide-screens) { float: none; }

    .left-column {
        display: flex;
        // display: grid;
        // justify-content: space-evenly;
        // align-items: left;
        // flex-direction: column;
        // padding: 20px;
        // grid-gap: 42px;
        margin: 15px 25px;
        // padding-top: 100px;
       

        img {
            // margin: 15px 25px;
            border-radius: 5px;
            object-fit: contain;
            position: relative;
            // width: 1000px;
            top: 500px;
            left:206px;

            @media screen and (max-width: 600px) {
                // grid-template-columns: 1fr;
                height: 170px;
                left: 5px;
            }
            // @media screen and (max-width: 600px) {
            //     grid-template-columns: 1fr;
            //     width: 100vw;
            // }
        }
    }

    .right-column {
        display: flex;
        // display: grid;
        position: relative;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        padding: 10px;
        right: 768px;

        @media screen and (max-width: 600px) {
            height: 100px;
            right: 369px;
            padding-top: 201px;
            position: relative;
        }
    }
}