.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    perspective: 150rem;
    // padding: 180px;
    position: absolute;

    // @include respond-to(handhelds) { width: 100% ;}
    // @include respond-to(medium-screens) { width: 125px; }
    // @include respond-to(wide-screens) { float: none; }

    & > * {
        margin-right: 50px;
        justify-items: center;
        margin-top: 230px;
    }
}

.menu-items {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__front,
    &__back {
        backface-visibility: hidden;
        transition: all .3s ease;
    }

    &__back {
        transform: rotateY(-180deg);
    }
    
    &:hover &__front {
        transform: rotateY(180deg);
    }

    &:hover &__back {
        transform: rotateY(0deg);
    }
}

.menu-items__front {
    &__image {
        height: 314px;
        width: 240px;
        display: grid;
        justify-items: center;
        align-items: center;
        position: absolute;
        border-radius: 86px;
    }
}

.menu-items__back {
    height: 314px;
    width: 240px;
    background-color:#ededed; ;
    opacity: 30px;
    position: relative;
    display: grid;
    grid-template-rows: 30px [name-s name-e] 30px [description-s description-e] 30px;
    grid-template-columns: 30px [s] 1fr [e] 30px;
    row-gap: 10px;
    padding: 5px;
    border-radius: 15px;

    & > * {
        grid-column: s/e;
    }

    &__name {
        grid-row: name-s/name-e;
        color: #000;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
        font-weight: 600;
        width: -25px;
        text-align: center;
        padding: -6px;
    }

    &__description {
        grid-row: description-s/description-e;
        font-size: 25px;
        color: #000;
        font-weight: 400;
        align-self: center;
        text-align: center;
        margin-top: 240px;
    }
}
