.menu-item-wrapper {
    display: grid;
    grid-template-rows: 1/-1;
    grid-template-columns: 1/-1;

    & > * {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }
}

.menu-item-wrapper {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__front-view, 
    &__back-view {
        backface-visibility: hidden;
        transition: all .3s ease;
    }

    &__back-view {
        transform: rotateY(-180deg);
    }

    &:hover &__front-view {
        transform: rotateY(180deg);
    }
    &:hover &__back-view {
        transform: rotateY(0deg);
    }
}

.menu-item__front-view {
    height: 314px;
    width: 240px;
    display: grid;
    justify-items: center;
    align-items: center;
    
    // &__image {
        
    // }
}

.menu-item__back-view {
    height: 314px;
    width: 240px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);

    display: grid;
    grid-template-rows: 15px [description-s] 30px [description-e price-s] 1fr [price-e]; 
    grid-template-columns: 15px [s] 1fr [e] 15px;
    justify-items: start;
    grid-row-gap: 7px;

    & > * {
        grid-column: s/e;
    }

    &__description {
        grid-row: description-s/description-e;

        font-size:13px;
        color: #333;
    }

    &__price {
        grid-row: price-s/price-e;
    }
}

