.soup-menu-wrapper {
    display: grid;
    grid-template-rows: 1/-1;
    grid-template-columns: 1/-1;

    perspective: 150rem;
    -moz-perspective: 150rem;

    // front and back
    .front-soup-menu-wrapper,
    .back-soup-menu-wrapper {
        backface-visibility: hidden;
        transition: all .3s ease;
    }

    // front of plate
    .front-soup-menu-wrapper{
        height: 314px;
        width: 240px;
        display: grid;
        justify-items: center;
        align-items: center;

        &:hover .front-soup-img {
            transform: rotateY(180deg);
        }
    }
        // back of plate
        &:hover .back-soup-menu-wrapper {
        height: 314px;
        width: 240px;
        background-color: #333;;
        opacity: 30px;

        display: grid;
        grid-template-rows: 20px;
        grid-template-columns: 20px;
        justify-items: start;
        row-gap: 7px;

        transform: rotateY(-180deg);

        .back-soup-menu-title {
            color: #000;
            font-size: 20px;
            font-family: cursive;
        }

        // .back-soup-menu-name {

        // }

        // .back-soup-menu-description {

        // }
    }

}