.soups-menu-page {
    .soups-menu-page-content__wrapper {
        display: grid;
        grid-template-rows: 1/-1;
        grid-template-columns: 1/-1;
        
        perspective: 150rem;
        -moz-perspective: 150rem;
    
        & > * {
            grid-row: 1/-1;
            grid-column: 1/-1;
        }

        .soups {
            &__front,
            &__back {
                backface-visibility: hidden;
                transition: all .3s ease;
            }

            &__back {
                transform: rotateY(-180deg);
            }

            &:hover &__front {
                transform: rotateY(180deg);
            }
            &:hover &__back {
                transform: rotateY(0deg);
            }
        }
    }
}

.soups__front {
    &__image {
        img {
            height: 314px;
            width: 240px;
            display: grid;
            justify-items: center;
            align-items: center;
        }
    }
}

.soups__back {
    height: 314px;
    width: 240px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);

    display: grid;
    grid-template-rows: 25px [name-s] 25px [name-e description-s] 25px [description-e];
    grid-template-columns: 25px [s] 1fr [e] 25px;
    justify-items: start;
    grid-row-gap: 7px;

    & > * {
        grid-column: s/e;
    }

    &__name {
        grid-row: name-s/name-e;
        font-size: 25px;
        color: #000;
    }

    &__description {
        grid-row: description-s/description-e;
        font-size: 25px;
        color: #000;
    }
}